EmailFlow.json
[{"id":"b35c103c.4f726","type":"e-mail","z":"8cfa5ecd.e02168","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Email out","x":814,"y":146,"wires":[]},{"id":"6a6426c5.4d979","type":"function","z":"8cfa5ecd.e02168","name":"Email out Lockdown Buttons","func":"// add button lookup to identify location\nvar LOOKUP_DEVEUI = {\n    \"4491600000f7c537\" : \"Main Lobby\",\n    \"4491600000f7c678\" : \"Front Entrance\",\n    \"4491600000f7c4de\" : \"Main Sanctuary\",\n    \"4491600000f7c07d\" : \"Reiter BM\",\n    \"4491600000f7c523\" : \"Marder BM\",\n    \"4491600000f7c5cb\" : \"Social Hall\",\n    \"4491600000f7c545\" : \"Nursery\",\n    \"4491600000f7c026\" : \"Women's Gallery\",\n    \"4491600000f7bea1\" : \"Button Key\",\n    \"4491600000f7c499\" : \"unknown\",\n    \"4491600000f7c5e2\" : \"3rd Floor Office\"\n};\n\nvar emailTo = \"chriscpop@gmail.com\"; // fill the to email\n// must have the connection parameters filled in the email block for email from\nvar emailFrom = \"alerts@vantact.com\"; // fill the from email\n\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\nif (msg.deveui in LOOKUP_DEVEUI)\n{\n    var name = LOOKUP_DEVEUI[msg.deveui];\n    \n    var bf = new Buffer(msg.payload);\n    var msgmod = bf.toString('hex');\n    \n    var type = msgmod.substr(2, 2);\n    \n    msg.topic = \"\";\n    msg.payload = \"\";\n    \n    if (type == \"07\") {\n        // button pressed\n        msg.topic = \"Alarm Active: \" + name;\n        msg.payload = \"Alarm was activated in location '\" + name + \"'\";\n    }\n    else if (type == \"fd\") {\n        // magnet\n        msg.topic = \"Alarm Cancel: \" + name;\n        msg.payload = \"Alarm was cancelled in location '\" + name + \"'\";\n    }\n    else if (type == \"02\") {\n        // tamper\n        var tamperStatus = msgmod.substr(4, 2);\n        if (tamperStatus == \"00\") {\n            // opened, generate url\n            msg.topic = \"Tamper Opened: \" + name;\n            msg.payload = \"Tamper opened in location '\" + name + \"'\";\n        }\n        else if (tamperStatus == \"01\") {\n            // closed\n            msg.topic = \"Tamper Closed: \" + name;\n            msg.payload = \"Tamper closed in location '\" + name + \"'\";\n        }\n    }\n    else if (type == \"01\") {\n        // supervisory\n        var errorCode = msgmod.substr(4, 2);\n        var sensorState = msgmod.substr(5, 2);\n        var batteryLevel = msgmod.substr(6, 2);\n        \n        var intErrorCode = parseInt(errorCode, 16);\n        if (intErrorCode & 2 >> 1) {\n            // battery below 2.8 volts\n    \t\t\n    \t\tif (msg.deveui in LOOKUP_BATTERY_GPIO) {\n                msg.topic = \"Low Battery: \" + name;\n                msg.payload = \"Low battery for location '\" + name + \"', current value is '\" + batteryLevel + \"'\";\n    \t\t}\n        }\n    }\n    \n    if (msg.payload && msg.payload.length > 0) {\n        msg.to = emailTo;\n        msg.from = emailFrom;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":530.0000152587891,"y":178.00000476837158,"wires":[["b35c103c.4f726","d71a2097.a08bd8"]]},{"id":"d71a2097.a08bd8","type":"debug","z":"8cfa5ecd.e02168","name":"","active":false,"console":"false","complete":"true","x":731,"y":97,"wires":[]},{"id":"c6d15ef4.64e7","type":"e-mail","z":"8cfa5ecd.e02168","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Email out","x":840,"y":326,"wires":[]},{"id":"354f7347.64afbc","type":"function","z":"8cfa5ecd.e02168","name":"Email out Push Single Buttons","func":"// add button lookup to identify location\nvar LOOKUP_DEVEUI = {\n    \"ccc0790000ee526f\" : \"Wireless Button 1\",\n    \"ccc0790000ee4fc9\" : \"Wireless Button 2\"\n};\n\nvar emailTo = \"chriscpop@gmail.com\"; // fill the to email\n// must have the connection parameters filled in the email block for email from\nvar emailFrom = \"alerts@vantact.com\"; // fill the from email\n\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\nif (msg.deveui in LOOKUP_DEVEUI)\n{\n    var name = LOOKUP_DEVEUI[msg.deveui];\n    \n    var bf = new Buffer(msg.payload);\n    var msgmod = bf.toString('hex');\n    \n    var type = msgmod.substr(2, 2);\n    var subtype = msgmod.substr(4, 2);\n    var event = msgmod.substr(6, 2);\n    \n    msg.topic = \"\";\n    msg.payload = \"\";\n    \n    if (type == \"06\") {\n        if (subtype == \"03\") {\n            if (event == \"00\") {\n                // button pressed, alarm\n                msg.topic = \"Alarm Active: \" + name;\n                msg.payload = \"Alarm was activated in location '\" + name + \"'\";\n            }\n            else if (event == \"02\") {\n                // button hold, cancel\n                msg.topic = \"Alarm Cancel: \" + name;\n                msg.payload = \"Alarm was cancelled in location '\" + name + \"'\";\n            }\n        }\n    }\n    \n    if (msg.payload && msg.payload.length > 0) {\n        msg.to = emailTo;\n        msg.from = emailFrom;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":534.0000152587891,"y":299.00000953674316,"wires":[["c6d15ef4.64e7","e62b1281.5962a"]]},{"id":"e62b1281.5962a","type":"debug","z":"8cfa5ecd.e02168","name":"","active":false,"console":"false","complete":"true","x":757,"y":277,"wires":[]},{"id":"51434e24.289eb8","type":"lora in","z":"8cfa5ecd.e02168","name":"","datatype":"bytes","x":180.5,"y":250.33334350585938,"wires":[["6a6426c5.4d979","354f7347.64afbc"]]}]