ExecuteBreakoutGpioMod.json
[{"id":"780f045a.9840fc","type":"http in","z":"7e477765.40d5a","name":"Incoming request","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":330,"y":340,"wires":[["67ca1a53.f2d3dc","19ca3db6.f46822","76ecc73b.7ecf08","fb03dc8f.7977e"]]},{"id":"67ca1a53.f2d3dc","type":"http response","z":"7e477765.40d5a","name":"response","statusCode":"","headers":{},"x":440,"y":160,"wires":[]},{"id":"19ca3db6.f46822","type":"function","z":"7e477765.40d5a","name":"Process request","func":"var mypassword = \"abcdef\"\n\nif(msg.payload.authent === mypassword){ // check if password is correct\n    \n    if(msg.payload.turn === \"on\"){\n        msg.payload = 1;\n        return msg;\n    }\n    else if(msg.payload.turn === \"off\"){\n        msg.payload = 0;\n        return msg;\n    }\n    else{\n        msg.payload = \"none\";\n        return msg\n    }\n}\nelse{\n    msg.payload = \"none\";\n    return msg\n}\n","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["9bcc8e98.573f28","9e1ada21.d8a21"]]},{"id":"9bcc8e98.573f28","type":"debug","z":"7e477765.40d5a","name":"","active":true,"console":"false","complete":"true","x":774,"y":287,"wires":[]},{"id":"9e1ada21.d8a21","type":"rpi-gpio out","z":"7e477765.40d5a","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":820,"y":380,"wires":[]},{"id":"76ecc73b.7ecf08","type":"delay","z":"7e477765.40d5a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["c8b35641.a28c58"]]},{"id":"c8b35641.a28c58","type":"function","z":"7e477765.40d5a","name":"Process switch request","func":"var mypassword = \"12345\"\n\nmsg.url = \"localhost:11241/switch\"\n\nif(msg.payload.authent === mypassword){ // check if password is correct\n    \n    if(msg.payload.switch === \"yes\"){\n        msg.payload = \"turnon\";\n        return msg;\n    }\n    else if(msg.payload.switch === \"no\"){\n        msg.payload = \"turnoff\";\n        return msg;\n    }\n    else{\n        msg.payload = \"none\";\n        return msg\n    }\n}\nelse{\n    msg.payload = \"none\";\n    return msg\n}\n","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["2345c5c0.87e9a2","c267cca8.80b2a"]]},{"id":"2345c5c0.87e9a2","type":"http request","z":"7e477765.40d5a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":1150,"y":380,"wires":[[]]},{"id":"fb03dc8f.7977e","type":"range","z":"7e477765.40d5a","minin":"16","maxin":"45","minout":"66","maxout":"123","action":"scale","round":false,"property":"gpio","name":"Modify GPIO","x":660,"y":160,"wires":[["19ca3db6.f46822"]]},{"id":"c267cca8.80b2a","type":"exec","z":"7e477765.40d5a","command":"http://localhost/api/executeBreakout/?main=1","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Execute Breakout Process","x":890,"y":580,"wires":[["2345c5c0.87e9a2"],["1c83d95f.e9615f"],["3f3efdb4.9dceca"]]},{"id":"1c83d95f.e9615f","type":"debug","z":"7e477765.40d5a","name":"","active":true,"console":"false","complete":"true","x":1190,"y":560,"wires":[]},{"id":"3f3efdb4.9dceca","type":"debug","z":"7e477765.40d5a","name":"","active":true,"console":"false","complete":"true","x":1190,"y":620,"wires":[]}]