FlowRadiobridge.txt
[{"id":"a0c4b9d.c54a448","type":"lora in","z":"cc9b6100.1e12a","name":"","datatype":"bytes","x":159,"y":269,"wires":[["2fb7d644.9a1a8a","85911ec3.97544","12bc5be1.e43144"]]},{"id":"604af1b2.5ce93","type":"debug","z":"cc9b6100.1e12a","name":"","active":false,"console":"false","complete":"true","x":530,"y":356,"wires":[]},{"id":"2fb7d644.9a1a8a","type":"function","z":"cc9b6100.1e12a","name":"ConsolePayloadFormatter","func":"var bf = new Buffer(msg.payload)\nvar msgmod = bf.toString('hex');\n\nmsg.payload = msgmod;\nvar jsonData = {deveui:msg.deveui,\npayload: msg.payload,\ntime: msg.tmst,\nsnr: msg.lsnr,\nstation: msg.appeui,\navgsnr: msg.lsnr,\nlat:0,lng:0,rssi:msg.rssi,\nseqnumber: msg.seqn,authorisation:'6364d3f0f495b6ab9dcf8d3b5c6e0b01'};\nmsg.payload=JSON.stringify(jsonData);\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":301,"wires":[["604af1b2.5ce93","e98f7c74.b4735"]]},{"id":"2b6054bb.00f12c","type":"function","z":"cc9b6100.1e12a","name":"PayloadFormatter","func":"/*node.warn(msg);\nnode.warn(msg.payload.payload ===null)*/\nif( msg.payload.payload ===null)\nmsg.payload.payload='';\nnewpayload = new Buffer(msg.payload.payload, 'hex');\n\nnewmsg = {\n \"payload\": newpayload,\n \"eui\": msg.payload.eui,\n \"ack\": false,\n \"port\": 1\n};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":800,"y":302,"wires":[["6245d8f0.5b77b8","4f3604ba.31b6dc"]]},{"id":"6245d8f0.5b77b8","type":"lora out","z":"cc9b6100.1e12a","name":"","eui":"","payload":"","ack":false,"port":"","x":1010,"y":300,"wires":[]},{"id":"e98f7c74.b4735","type":"http request","z":"cc9b6100.1e12a","name":"Sendtoconsole","method":"POST","ret":"obj","url":"https://console.radiobridge.com/uplink_api_callback/","tls":"","x":539,"y":242,"wires":[["2b6054bb.00f12c"]]},{"id":"4f3604ba.31b6dc","type":"debug","z":"cc9b6100.1e12a","name":"","active":false,"console":"false","complete":"true","x":918,"y":383,"wires":[]},{"id":"6b300634.781c88","type":"function","z":"cc9b6100.1e12a","name":"","func":"/*node.warn(msg);\nnode.warn(msg.payload.payload ===null)*/\nif( msg.payload.payload ===null)\nmsg.payload.payload='';\nnewpayload = new Buffer(msg.payload.payload, 'hex');\n\nnewmsg = {\n \"payload\": newpayload,\n \"eui\": msg.payload.eui,\n \"ack\": false,\n \"port\": 1\n};\n\nreturn newmsg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["231b2731.8893b8"]]},{"id":"231b2731.8893b8","type":"debug","z":"cc9b6100.1e12a","name":"","active":false,"console":"false","complete":"true","x":480,"y":640,"wires":[]},{"id":"85911ec3.97544","type":"debug","z":"cc9b6100.1e12a","name":"","active":false,"console":"false","complete":"false","x":370,"y":440,"wires":[]},{"id":"12bc5be1.e43144","type":"debug","z":"cc9b6100.1e12a","name":"","active":false,"console":"false","complete":"true","x":300,"y":120,"wires":[]}]