LoraSensorButtonSwitchProcessServer.json
[{"id":"9c384d8c.55dfd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c4c8d2aa.9c63a8","type":"lora in","z":"9c384d8c.55dfd","name":"","datatype":"utf8","x":73,"y":310,"wires":[["a6ed6f00.190948","7cf2c329.e08e34","d44459d9.e8bb6"]]},{"id":"a6ed6f00.190948","type":"function","z":"9c384d8c.55dfd","name":"Process data","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":386,"y":303,"wires":[["6e6f4504.d4b6fc","95e8d89b.de2f28"]]},{"id":"95e8d89b.de2f28","type":"debug","z":"9c384d8c.55dfd","name":"debug","active":false,"console":"false","complete":"true","x":570,"y":140,"wires":[]},{"id":"6e6f4504.d4b6fc","type":"http request","z":"9c384d8c.55dfd","name":"","method":"use","ret":"txt","url":"","tls":"","x":627,"y":302,"wires":[[]]},{"id":"7cf2c329.e08e34","type":"switch","z":"9c384d8c.55dfd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":200,"wires":[["a6ed6f00.190948","d44459d9.e8bb6"]]},{"id":"d44459d9.e8bb6","type":"function","z":"9c384d8c.55dfd","name":"Process data","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["5f7bc1d.92864c","c72d87cd.c336f8"]]},{"id":"c72d87cd.c336f8","type":"debug","z":"9c384d8c.55dfd","name":"debug","active":false,"console":"false","complete":"true","x":614,"y":517,"wires":[]},{"id":"5f7bc1d.92864c","type":"http request","z":"9c384d8c.55dfd","name":"","method":"use","ret":"txt","url":"","tls":"","x":671,"y":679,"wires":[[]]}]