MeshLora.json
[{"id":"3226a80a.0a546","type":"lora in","z":"275418f.b11eae8","name":"","datatype":"utf8","x":113,"y":310,"wires":[["515fad13.15ea3c"]]},{"id":"53ba244a.d025ac","type":"debug","z":"275418f.b11eae8","name":"debug","active":false,"console":"false","complete":"true","x":730,"y":260,"wires":[]},{"id":"3a084c5e.78d41c","type":"http request","z":"275418f.b11eae8","name":"","method":"use","ret":"txt","url":"","tls":"","x":790,"y":340,"wires":[[]]},{"id":"be07e211.433a28","type":"function","z":"275418f.b11eae8","name":"Process data","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["53ba244a.d025ac","3a084c5e.78d41c"]]},{"id":"515fad13.15ea3c","type":"trigger","z":"275418f.b11eae8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":380,"y":240,"wires":[["be07e211.433a28"]]},{"id":"879f6c95.ea24c8","type":"websocket in","z":"275418f.b11eae8","name":"","x":100,"y":380,"wires":[["515fad13.15ea3c"]]}]