NfcMiddleMan.json
[{"id":"f115edab.89e098","type":"debug","z":"275418f.b11eae8","name":"debug","active":false,"console":"false","complete":"true","x":430,"y":520,"wires":[]},{"id":"8a8dfd9e.dd04","type":"function","z":"275418f.b11eae8","name":"Process NFC","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["259f293f.ddf3be"]]},{"id":"848c9e09.740bc","type":"http in","z":"275418f.b11eae8","name":"","url":"","method":"get","upload":false,"x":170,"y":660,"wires":[["8a8dfd9e.dd04","f115edab.89e098"]]},{"id":"259f293f.ddf3be","type":"websocket out","z":"275418f.b11eae8","name":"websocket update","server":"1d0880c7.d472df","client":"","x":780,"y":700,"wires":[]},{"id":"1d0880c7.d472df","type":"websocket-listener","z":"","path":"/ws/lvnodehub","wholemsg":"false"}]