PinToJsonNode.txt
[{
	"id": "ce4cd8ad.e04f08",
	"type": "function",
	"z": "ec6b566e.6efa38",
	"name": "Process request",
	"func": "var basename  = global.get(\"baseName\");\nvar eventType = \"Alarm\";\nvar sensorID = \"67567567576\" ;\nvar ctrlType = (msg.topic).substr(3);\n\n\n//msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=Davgggid&EventType=Normal&Sensnow67576&CtrlType=21\"\n//return msg\n\nif(msg.payload === 1){\n    eventType = \"Alarm\";\n}\nelse{\n    eventType = \"Normal\";\n}\n\n msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=\" + ctrlType;\n    \n msg.payload = \"\"\n return msg\n    \n/*\nvar previousVal = context.get(\"previousVal\")    // get the last saved value\nif(msg.payload !== previousVal){ // check if input status has changed\n    if(msg.payload === 1){\n       eventType = \"Alarm\";\n    }\n    else if(msg.payload === 0){\n       eventType = \"Normal\";\n    }\n    \n    msg.url = \"http://192.168.100.115/authcode/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=07\";\n        \n    context.set(\"previousVal\", msg.payload);\n    return msg\n}\nelse{\n    msg.payload = \"\";\n    return msg\n}\n*/",
	"outputs": 1,
	"noerr": 0,
	"x": 494,
	"y": 301,
	"wires": [
		["bbed25c9.320748"]
	]
}, {
	"id": "bbed25c9.320748",
	"type": "http request",
	"z": "ec6b566e.6efa38",
	"name": "",
	"method": "use",
	"ret": "txt",
	"url": "",
	"tls": "",
	"x": 737,
	"y": 299,
	"wires": [
		["549728a2.f15298"]
	]
}, {
	"id": "ad2c4301.6aac9",
	"type": "function",
	"z": "ec6b566e.6efa38",
	"name": "Process request",
	"func": "var basename  = global.get(\"baseName\");\nvar eventType = \"Alarm\";\nvar sensorID = \"67567567576\" ;\nvar ctrlType = (msg.topic).substr(3);\n\n\n//msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=Davgggid&EventType=Normal&Sensnow67576&CtrlType=21\"\n//return msg\n\nif(msg.payload === 1){\n    eventType = \"Alarm\";\n}\nelse{\n    eventType = \"Normal\";\n}\n\n msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=\" + ctrlType;\n    \n msg.payload = \"\"\n return msg\n    \n/*\nvar previousVal = context.get(\"previousVal\")    // get the last saved value\nif(msg.payload !== previousVal){ // check if input status has changed\n    if(msg.payload === 1){\n       eventType = \"Alarm\";\n    }\n    else if(msg.payload === 0){\n       eventType = \"Normal\";\n    }\n    \n    msg.url = \"http://192.168.100.115/authcode/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=07\";\n        \n    context.set(\"previousVal\", msg.payload);\n    return msg\n}\nelse{\n    msg.payload = \"\";\n    return msg\n}\n*/\n",
	"outputs": 1,
	"noerr": 0,
	"x": 489,
	"y": 396,
	"wires": [
		["376c2d0a.abb962"]
	]
}, {
	"id": "376c2d0a.abb962",
	"type": "http request",
	"z": "ec6b566e.6efa38",
	"name": "",
	"method": "use",
	"ret": "txt",
	"url": "",
	"tls": "",
	"x": 732,
	"y": 394,
	"wires": [
		["549728a2.f15298"]
	]
}, {
	"id": "b109cbb6.d78728",
	"type": "rpi-gpio in",
	"z": "ec6b566e.6efa38",
	"name": "",
	"pin": "7",
	"intype": "up",
	"debounce": "100",
	"read": false,
	"x": 260,
	"y": 320,
	"wires": [
		["ce4cd8ad.e04f08"]
	]
}, {
	"id": "36ab54a0.35c1dc",
	"type": "rpi-gpio in",
	"z": "ec6b566e.6efa38",
	"name": "",
	"pin": "11",
	"intype": "up",
	"debounce": "100",
	"read": false,
	"x": 260,
	"y": 440,
	"wires": [
		["ad2c4301.6aac9"]
	]
}, {
	"id": "549728a2.f15298",
	"type": "debug",
	"z": "ec6b566e.6efa38",
	"name": "",
	"active": false,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "payload",
	"x": 930,
	"y": 300,
	"wires": []
}, {
	"id": "ef43f0bb.0845e",
	"type": "inject",
	"z": "ec6b566e.6efa38",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": 0.1,
	"x": 150,
	"y": 220,
	"wires": [
		["f5b6f7cf.530ea8"]
	]
}, {
	"id": "f5b6f7cf.530ea8",
	"type": "exec",
	"z": "ec6b566e.6efa38",
	"command": "cat /sys/class/net/eth0/address",
	"addpay": true,
	"append": "",
	"useSpawn": "false",
	"timer": "",
	"oldrc": false,
	"name": "",
	"x": 410,
	"y": 220,
	"wires": [
		["97a63ada.d259a8"],
		[],
		[]
	]
}, {
	"id": "97a63ada.d259a8",
	"type": "function",
	"z": "ec6b566e.6efa38",
	"name": "set mac address",
	"func": "\nglobal.set(\"baseName\", (msg.payload).replace(/:/gi, '') );\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 720,
	"y": 220,
	"wires": [
		["549728a2.f15298"]
	]
}, {
	"id": "4ed75c59.38de64",
	"type": "debug",
	"z": "ec6b566e.6efa38",
	"name": "",
	"active": true,
	"tosidebar": true,
	"console": false,
	"tostatus": false,
	"complete": "true",
	"x": 550,
	"y": 760,
	"wires": []
}, {
	"id": "af23e4e4.1244b8",
	"type": "function",
	"z": "ec6b566e.6efa38",
	"name": "",
	"func": "\nmsg.topic = \"pi/11\"\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 330,
	"y": 640,
	"wires": [
		["ad2c4301.6aac9"]
	]
}, {
	"id": "2b270190.c13f8e",
	"type": "function",
	"z": "ec6b566e.6efa38",
	"name": "",
	"func": "\nmsg.topic = \"pi/7\"\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 270,
	"y": 380,
	"wires": [
		["ce4cd8ad.e04f08"]
	]
}, {
	"id": "a9462823.ef8048",
	"type": "ui_button",
	"z": "ec6b566e.6efa38",
	"name": "",
	"group": "dbb82083.39d16",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": true,
	"label": "Alarm 11",
	"color": "",
	"bgcolor": "red",
	"icon": "warning",
	"payload": "1",
	"payloadType": "num",
	"topic": "",
	"x": 120,
	"y": 740,
	"wires": [
		["af23e4e4.1244b8"]
	]
}, {
	"id": "7c079c47.0f96c4",
	"type": "ui_button",
	"z": "ec6b566e.6efa38",
	"name": "",
	"group": "dbb82083.39d16",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": false,
	"label": "Cancel",
	"color": "",
	"bgcolor": "",
	"icon": "stop",
	"payload": "0",
	"payloadType": "num",
	"topic": "",
	"x": 60,
	"y": 440,
	"wires": [
		["2b270190.c13f8e", "6d63786d.f1e7e8"]
	]
}, {
	"id": "e08f2156.fc519",
	"type": "ui_button",
	"z": "ec6b566e.6efa38",
	"name": "",
	"group": "dbb82083.39d16",
	"order": 0,
	"width": 0,
	"height": 0,
	"passthru": true,
	"label": "Alarm 7",
	"color": "",
	"bgcolor": "red",
	"icon": "warning",
	"payload": "1",
	"payloadType": "num",
	"topic": "",
	"x": 100,
	"y": 320,
	"wires": [
		["2b270190.c13f8e"]
	]
}, {
	"id": "6d63786d.f1e7e8",
	"type": "delay",
	"z": "ec6b566e.6efa38",
	"name": "",
	"pauseType": "delay",
	"timeout": "1",
	"timeoutUnits": "seconds",
	"rate": "1",
	"nbRateUnits": "1",
	"rateUnits": "second",
	"randomFirst": "1",
	"randomLast": "5",
	"randomUnits": "seconds",
	"drop": false,
	"x": 180,
	"y": 560,
	"wires": [
		["af23e4e4.1244b8"]
	]
}, {
	"id": "dbb82083.39d16",
	"type": "ui_group",
	"z": "",
	"name": "Pin to Json",
	"tab": "ba12b6bf.4d6098",
	"order": 2,
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "ba12b6bf.4d6098",
	"type": "ui_tab",
	"z": "",
	"name": "Controlledcare Station",
	"icon": "user-md",
	"order": 1
}]