PipThermalAlerts.json
[{"id":"50adf52.fd3f98c","type":"lora in","z":"275418f.b11eae8","name":"","datatype":"utf8","x":120,"y":100,"wires":[["1e97f09e.ca51ff"]]},{"id":"1e97f09e.ca51ff","type":"function","z":"275418f.b11eae8","name":"Process Thermal","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["53d2fff4.bf6128","a8fe77a8.64d658"]]},{"id":"53d2fff4.bf6128","type":"http request","z":"275418f.b11eae8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":560,"y":100,"wires":[["3dfc98c4.729858"]]},{"id":"a8fe77a8.64d658","type":"trigger","z":"275418f.b11eae8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":640,"y":40,"wires":[["3dfc98c4.729858"]]},{"id":"1ebed69f.e5b7b9","type":"debug","z":"275418f.b11eae8","name":"debug","active":false,"console":"false","complete":"true","x":1070,"y":40,"wires":[]},{"id":"48d11d77.e098c4","type":"http request","z":"275418f.b11eae8","name":"","method":"use","ret":"txt","url":"","tls":"","x":1110,"y":120,"wires":[[]]},{"id":"3dfc98c4.729858","type":"function","z":"275418f.b11eae8","name":"Combine Thermo Image with Camera","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["48d11d77.e098c4","1ebed69f.e5b7b9"]]}]