ProcessMultiGpioDelay.txt
[{"id":"72ed246c.251c34","type":"function","z":"85eab961.dbd35","name":"Process request","func":"var basename  = global.get(\"baseName\");\nvar eventType = \"Alarm\";\nvar sensorID = \"67567567576\" ;\nvar ctrlType = (msg.topic).substr(3);\n\n\n//msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=Davgggid&EventType=Normal&Sensnow67576&CtrlType=21\"\n//return msg\n\nif(msg.payload === 1){\n    eventType = \"Alarm\";\n}\nelse{\n    eventType = \"Normal\";\n}\n\n msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=\" + ctrlType;\n    \n msg.payload = \"\"\n return msg\n    \n/*\nvar previousVal = context.get(\"previousVal\")    // get the last saved value\nif(msg.payload !== previousVal){ // check if input status has changed\n    if(msg.payload === 1){\n       eventType = \"Alarm\";\n    }\n    else if(msg.payload === 0){\n       eventType = \"Normal\";\n    }\n    \n    msg.url = \"http://192.168.100.115/authcode/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=07\";\n        \n    context.set(\"previousVal\", msg.payload);\n    return msg\n}\nelse{\n    msg.payload = \"\";\n    return msg\n}\n*/","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["2394e102.e9b726"]]},{"id":"2394e102.e9b726","type":"http request","z":"85eab961.dbd35","name":"","method":"use","ret":"txt","url":"","tls":"","x":933,"y":738,"wires":[["f278024.aa82b8"]]},{"id":"f9bfa173.78e98","type":"function","z":"85eab961.dbd35","name":"Process request","func":"var basename  = global.get(\"baseName\");\nvar eventType = \"Alarm\";\nvar sensorID = \"67567567576\" ;\nvar ctrlType = (msg.topic).substr(3);\n\n\n//msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=Davgggid&EventType=Normal&Sensnow67576&CtrlType=21\"\n//return msg\n\nif(msg.payload === 1){\n    eventType = \"Alarm\";\n}\nelse{\n    eventType = \"Normal\";\n}\n\n msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=\" + ctrlType;\n    \n msg.payload = \"\"\n return msg\n    \n/*\nvar previousVal = context.get(\"previousVal\")    // get the last saved value\nif(msg.payload !== previousVal){ // check if input status has changed\n    if(msg.payload === 1){\n       eventType = \"Alarm\";\n    }\n    else if(msg.payload === 0){\n       eventType = \"Normal\";\n    }\n    \n    msg.url = \"http://192.168.100.115/authcode/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=07\";\n        \n    context.set(\"previousVal\", msg.payload);\n    return msg\n}\nelse{\n    msg.payload = \"\";\n    return msg\n}\n*/\n","outputs":1,"noerr":0,"x":685,"y":835,"wires":[["62286b0d.56e9c4"]]},{"id":"62286b0d.56e9c4","type":"http request","z":"85eab961.dbd35","name":"","method":"use","ret":"txt","url":"","tls":"","x":928,"y":833,"wires":[["f278024.aa82b8"]]},{"id":"27dfb16b.cb946e","type":"rpi-gpio in","z":"85eab961.dbd35","name":"","pin":"7","intype":"up","debounce":"100","read":false,"x":456,"y":759,"wires":[["72ed246c.251c34"]]},{"id":"6fc44106.e25fb8","type":"rpi-gpio in","z":"85eab961.dbd35","name":"","pin":"11","intype":"up","debounce":"100","read":false,"x":456,"y":879,"wires":[["f9bfa173.78e98"]]},{"id":"f278024.aa82b8","type":"debug","z":"85eab961.dbd35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1126,"y":739,"wires":[]},{"id":"36fc97f8.52ed98","type":"inject","z":"85eab961.dbd35","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":346,"y":659,"wires":[["386da32d.437a14"]]},{"id":"386da32d.437a14","type":"exec","z":"85eab961.dbd35","command":"cat /sys/class/net/eth0/address","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":606,"y":659,"wires":[["f7f77fba.26563"],[],[]]},{"id":"f7f77fba.26563","type":"function","z":"85eab961.dbd35","name":"set mac address","func":"\nglobal.set(\"baseName\", (msg.payload).replace(/:/gi, '') );\nreturn msg;","outputs":1,"noerr":0,"x":916,"y":659,"wires":[["f278024.aa82b8"]]},{"id":"5a69f0c9.0571d","type":"debug","z":"85eab961.dbd35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":746,"y":1199,"wires":[]},{"id":"6a4c61b.f2f7ba","type":"function","z":"85eab961.dbd35","name":"","func":"\nmsg.topic = \"pi/11\"\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":1079,"wires":[["f9bfa173.78e98","be0cd165.952eb"]]},{"id":"416be9f1.b2b4e","type":"function","z":"85eab961.dbd35","name":"","func":"\nmsg.topic = \"pi/7\"\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":819,"wires":[["72ed246c.251c34"]]},{"id":"ab354a5d.6001c8","type":"ui_button","z":"85eab961.dbd35","name":"","group":"dbb82083.39d16","order":0,"width":0,"height":0,"passthru":true,"label":"Alarm 11","color":"","bgcolor":"red","icon":"warning","payload":"1","payloadType":"num","topic":"","x":316,"y":1179,"wires":[["6a4c61b.f2f7ba"]]},{"id":"52e90ddc.2bc09c","type":"ui_button","z":"85eab961.dbd35","name":"","group":"dbb82083.39d16","order":0,"width":0,"height":0,"passthru":false,"label":"Cancel","color":"","bgcolor":"","icon":"stop","payload":"0","payloadType":"num","topic":"","x":256,"y":879,"wires":[["416be9f1.b2b4e","aa3aed7a.1bb7c"]]},{"id":"f3ae4c79.7df3a8","type":"ui_button","z":"85eab961.dbd35","name":"","group":"dbb82083.39d16","order":0,"width":0,"height":0,"passthru":true,"label":"Alarm 7","color":"","bgcolor":"red","icon":"warning","payload":"1","payloadType":"num","topic":"","x":296,"y":759,"wires":[["416be9f1.b2b4e"]]},{"id":"aa3aed7a.1bb7c","type":"delay","z":"85eab961.dbd35","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376,"y":999,"wires":[["6a4c61b.f2f7ba"]]},{"id":"be0cd165.952eb","type":"delay","z":"85eab961.dbd35","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1060,"wires":[["636afd6c.a2df94","5a69f0c9.0571d"]]},{"id":"636afd6c.a2df94","type":"function","z":"85eab961.dbd35","name":"Process delay","func":"var basename  = global.get(\"baseName\");\nvar eventType = \"1\";\nvar sensorID = \"sensor123\" ;\nvar ctrlType = (msg.topic).substr(3);\n\n\n//msg.url = \"http://64.ay34.74.115/urldebug/catch/?Fid=1&BaseName=Davgggid&EventType=Normal&Sensnow67576&CtrlType=21\"\n//return msg\n\nif(msg.payload === 1){\n    eventType = \"1\";\n}\nelse{\n    eventType = \"0\";\n}\n\n msg.url = \"http://64.34.74.115/urldebug/catch/?Fid=1&BaseName=\" +  basename + \n    \"&EventType=\" + eventType + \"&SensorID=\" + sensorID + \"&CtrlType=\" + ctrlType;\n    \n msg.payload = \"\"\n return msg\n","outputs":1,"noerr":0,"x":920,"y":1000,"wires":[["f401e4a1.610ab8"]]},{"id":"f401e4a1.610ab8","type":"debug","z":"85eab961.dbd35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":1020,"wires":[]}]