TemplateProcessing.json
[{"id":"4ca8e7ea.9a754","type":"debug","z":"10b57358.36fc95","name":"debug","active":false,"console":"false","complete":"true","x":410,"y":700,"wires":[]},{"id":"bddef88d.72d0d8","type":"lora in","z":"10b57358.36fc95","name":"","datatype":"utf8","x":93,"y":490,"wires":[["7cd60ecc.8ff65","4ca8e7ea.9a754","ea8fbe2b.e599e8"]]},{"id":"7cd60ecc.8ff65","type":"function","z":"10b57358.36fc95","name":"Process data","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["a014db82.e46f78","84efea9f.8a0bc8","c3feeaf0.26adc"]]},{"id":"84efea9f.8a0bc8","type":"debug","z":"10b57358.36fc95","name":"debug","active":false,"console":"false","complete":"true","x":1114,"y":597,"wires":[]},{"id":"a014db82.e46f78","type":"http request","z":"10b57358.36fc95","name":"","method":"use","ret":"txt","url":"","tls":"","x":1051,"y":479,"wires":[[]]},{"id":"ea8fbe2b.e599e8","type":"trigger","z":"10b57358.36fc95","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":240,"y":360,"wires":[["4fd1df45.ced6f","da4c3d29.8aaa6","d48c3224.63dbd8","4459b6d0.fb33b"]]},{"id":"c3feeaf0.26adc","type":"websocket out","z":"10b57358.36fc95","name":"lvhubsocket","server":"6f7c2b47.646884","client":"","x":930,"y":280,"wires":[]},{"id":"d48c3224.63dbd8","type":"template","z":"10b57358.36fc95","name":"Control Type Template","field":"controlType","fieldType":"msg","format":"json","syntax":"mustache","template":"This is the payload: {{controlType}} !","output":"str","x":560,"y":320,"wires":[["7cd60ecc.8ff65"]]},{"id":"da4c3d29.8aaa6","type":"template","z":"10b57358.36fc95","name":"Sensor Template","field":"sensor","fieldType":"msg","format":"json","syntax":"mustache","template":"This is the payload: {{sensor}} !","output":"str","x":550,"y":260,"wires":[["7cd60ecc.8ff65"]]},{"id":"4459b6d0.fb33b","type":"template","z":"10b57358.36fc95","name":"Department Template","field":"department","fieldType":"msg","format":"json","syntax":"mustache","template":"This is the payload: {{department}} !","output":"str","x":560,"y":400,"wires":[["7cd60ecc.8ff65"]]},{"id":"4fd1df45.ced6f","type":"template","z":"10b57358.36fc95","name":"Room Template","field":"room","fieldType":"msg","format":"json","syntax":"mustache","template":"This is the payload: {{room}} !","output":"str","x":540,"y":180,"wires":[["7cd60ecc.8ff65"]]},{"id":"6f7c2b47.646884","type":"websocket-listener","z":"","path":"/ws/lvnodehub","wholemsg":"false"}]