ThermalAlerts.json
[{"id":"c7a8f75f.687af8","type":"lora in","z":"275418f.b11eae8","name":"","datatype":"utf8","x":120,"y":940,"wires":[["f08fc7f8.bbfa2"]]},{"id":"f08fc7f8.bbfa2","type":"function","z":"275418f.b11eae8","name":"Process Thermal","func":"\n// remove unwanted characters from strings\nmsg.deveui = (msg.deveui).replace(/-/g, '');\nmsg.eui = (msg.eui).replace(/-/g, '');\n\n\n// get event type from payload \nvar eventType = \"Alarm\";\nif( (msg.payload.charAt(3)).charCodeAt(0) === 0){\n    eventType = \"Alarm\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 2){\n    eventType = \"Normal\";\n}\nelse if( (msg.payload.charAt(3)).charCodeAt(0) === 3){\n    eventType = \"Presense\";\n}\n\n// get ctrl type from payload\nvar ctrltype = \"\";\nvar temp1 = (msg.payload.charAt(1)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\ntemp1 = (msg.payload.charAt(2)).charCodeAt(0);\ntemp1 = String(temp1);\nif(temp1.length<2){\n    ctrltype += '0' + temp1\n}\nelse{\n    ctrltype += temp1\n}\n \n\n// generate url to be passed to http request node\nmsg.url = \"http://64.34.74.106/authcode/?Fid=1&BaseName=\" + \n            msg.deveui + \"&EventType=\" + eventType + \n            \"&SensorID=\" + msg.eui + \"&CtrlType=\" + ctrltype\n\nmsg.payload = \"\"\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":880,"wires":[["5dc44038.ad43e8"]]},{"id":"5dc44038.ad43e8","type":"trigger","z":"275418f.b11eae8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":640,"y":880,"wires":[["d91979d8.8f4f3","7219fc9f.84a69c"]]},{"id":"d91979d8.8f4f3","type":"debug","z":"275418f.b11eae8","name":"debug","active":false,"console":"false","complete":"true","x":1070,"y":880,"wires":[]},{"id":"7219fc9f.84a69c","type":"http request","z":"275418f.b11eae8","name":"","method":"use","ret":"txt","url":"","tls":"","x":1110,"y":960,"wires":[[]]}]